input {
  margin: 20px 0;
}

.checkbox + .checkbox {
  margin-left: 20px;
}

a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  background-color: gray;
}

.title {
  color: white;
}

.nav {
  position: fixed;
  height: 100%;
  background-color: gray;
  padding-top: 56px;
  z-index: -1;
}

.nav_item {
  margin: 20px;
}

.nav_item_link {
  color: white;
}

.position {
  position: absolute;
  left: 182px;
  top: 80px;
}

.logout {
  position: absolute;
  left: 182px;
  top: 80px;
}

.user_list, .category_list {
  display: flex;
}

.users_id {
  margin: 10px;
}

.users_name {
  margin: 10px;
}

.users_permissions {
  margin: 10px;
}

.contents_list {
  display: flex;
  margin: 20px;
  min-width: 400px;
}

.contents_list a {
  margin-left: auto;
}

.category_list p {
  margin: 20px;
}
